<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria Brioche </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">


<style type="text/css">
h2{text-align:center;color:rgb(250, 246, 246)} 
      
      .button{
    background: #7d8471;
    color: white;
    border: 3px;
    padding: 4px;
    width: 215px;
    height: 53px;
    border-radius: 0px;
    margin-bottom: 16px;
  

          }
   .button:hover{
       cursor: pointer;
       opacity:0.6;
       text-decoration: none;
   }

</style>

</head>

<body>
 
    <h1 class="titulo">Cafetería Brioche</h1>
    <br>
    <div class="barra">
        <h2 class="izquierda">Interfaz Cajero</h2>
        <a href="/logout/">
            <input class="button-logout derecha" type="submit" value="Cerrar Sesión">
        </a>
    </div>
    <hr>
    
    <div class="centrar-flex">
        <div class="form-inicio3">
            <a href="/apertura/">
                <input type = "submit" class="buttons" name = "Apertura de Caja" value = "Apertura de Caja">
            </a>
                
        </div>
        <div class="form-inicio3">
            <form action="/venta/" method='POST'>
                <input type="hidden" name="userId" value = "{{id}}">
                <input type = "submit" class="buttons" name = "Venta" value = "Venta" onclick="vaciarLS()">
            </form>
        </div>
        <div class="form-inicio3">
            <a href="/cierre/">
                <input type = "submit" class="buttons" name = "Cierre de Caja" value = "Cierre de Caja" >
            </a>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/validacion.js')}}"></script>
 
</body>
</html>