<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venta</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
  <script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
  <section class="form-productos">

    <div class="">
      
      <div id="carrito">
        <table id="lista-compra">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Sub Total</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>

          <tbody></tbody>
          <tr>
            <th colspan="4" scope="col" class="text-right">SUB TOTAL :</th>
            <th scope="col">
                <p id="subtotal"></p>
            </th>
            <!-- <th scope="col"></th> -->
          </tr>
          <tr>
              <th colspan="4" scope="col" class="text-right">IVA :</th>
              <th scope="col">
                  <p id="iva"></p>
              </th>
              <!-- <th scope="col"></th> -->
          </tr>
          <tr>
              <th colspan="4" scope="col" class="text-right">TOTAL :</th>
              <th scope="col">
                  <p id="total"></p>
              </th>
              <!-- <th scope="col"></th> -->
          </tr>
        </table>
      </div>

      <input  class="registro-buttons"  type="submit" id="limpiarCarrito" name="limpiarCarrito" value="Limpiar carrito">
      <form action="/compra/" method='POST'>
        <input  class="registro-buttons"  type="submit" name="registrarVenta" value="Registrar venta">
      </form>
    </div>
  </section>
  <div class="centrado">
    <a href="/regCaja/">
    <input class="button-regresar"  type="submit" name="" value="Regresar">
    </a>
  </div>

  <script src="{{ url_for('static',filename='js/carrito.js')}}"></script>
  <script src="{{ url_for('static',filename='js/pedido.js')}}"></script>
  <script src="{{ url_for('static',filename='js/compra.js')}}"></script>

</body>
</html>

