<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Productos</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <section class="form-login">
        <H5>Modificar Producto</H5>

        <!--Espacio para mensaje de error-->
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        <br>
        {% endfor %}

        <form action="/updateProduct/" method='POST'>
            <input class="controls" type="hidden" name="id" value="{{id}}">
            <input class="controls" type="text" name="nombre" value="{{nombre}}" placeholder="Nombre">
            <input class="controls" type="text" name="precio" value="{{precio}}" placeholder="Precio Unitario">
            <input class="buttons" type="submit" name="Modificar" value="Modificar">
            <input class="buttons" type="submit" name="Eliminar" value="Eliminar">
        </form>
        <a href="/modificarProducto/">
            <input  class="buttons"  type="submit" name="" value="Regresar">
            </a>
        
    </section>
</body>
</html>